@import url('https://fonts.googleapis.com/css?family=Lato:300|Raleway');

html{
    border: 0;
    padding: 0;
}

    body{
        background-color: #fff;
		font-family: 'Raleway';
		text-align: center;
    }

		#loader-wrapper {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1000;
		}
			#loader {
				-webkit-animation: spin 2s linear infinite;
				animation: spin 2s linear infinite;
				display: block;
				position: relative;
				left: 50%;
				top: 50%;
				width: 150px;
				height: 150px;
				margin: -75px 0 0 -75px;
				border: 3px solid transparent;
				border-top-color: #3498db;
				border-radius: 50%;
				z-index: 1500;
			}

			#loader:before {
				-webkit-animation: spin 3s linear infinite;
				animation: spin 3s linear infinite;
				content: "";
				position: absolute;
				top: 5px;
				left: 5px;
				right: 5px;
				bottom: 5px;
				border: 3px solid transparent;
				border-radius: 50%;
    			border-top-color: #e74c3c;
			}

			#loader:after {
				-webkit-animation: spin 1.5s linear infinite;
				animation: spin 1.5s linear infinite;
				content: "";
				position: absolute;
				top: 15px;
				left: 15px;
				right: 15px;
				bottom: 15px;
				border: 3px solid transparent;
				border-radius: 50%;
    			border-top-color: #f9c922;
			}

			@-webkit-keyframes spin {
				0%   {
					-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
					-ms-transform: rotate(0deg);  /* IE 9 */
					transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
				}
				100% {
					-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
					-ms-transform: rotate(360deg);  /* IE 9 */
					transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
				}
			}
			@keyframes spin {
				0%   {
					-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
					-ms-transform: rotate(0deg);  /* IE 9 */
					transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
				}
				100% {
					-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
					-ms-transform: rotate(360deg);  /* IE 9 */
					transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
				}
			}

		#banner{
			align-items: center;
			align-content: center;
			background: #064C70;
			-webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.75);
			color: #fff;
			display: flex;
			flex-direction: row;
			font-family: 'Lato', sans-serif;
			justify-content: space-around;
			padding: 0;
			position: fixed;
			width: 100%;
			z-index: 1000;
		}
                
                figure{
					text-align: left;
					width: 50vw;
					margin: 0;
                }

                    figure img{
                        border-radius: 100%; 
                        float: left;
                        max-height: 13vmin;
                        padding: 9px 4px 9px 4px;
                    }

                    figcaption{
						font-size: 1.6vmax;
						white-space: nowrap;
                    }

				.vertical {
					display: inline-block;
					margin-left: 10px;
					width: 10px;
					position: relative;
				}
				.vertical .mask {
					overflow: hidden;
					width: 20px;
					height: 13vmin;
				}
				.vertical .mask:after {
					content: '';
					display: block;
					margin-left: -20px;
					width: 20px;
					height: 100%;
					border-radius: 12px / 125px;
					box-shadow: 0 0 8px black;
				}

				nav{
					align-items: center;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-around;
					width: 50vw;
				}

                nav a{
                    align-self: center;
					color: #fff;
                    flex: 1 1 auto;
					font-size: 1.6vmax;
                }
				
				nav a:hover{
					color: #ffff00;
					font-size: 2vmax;
					text-decoration: none;
					text-shadow: 2px;
				}

		.content{
			font-size: 1.2vmax;
			min-height: 95vh;
			padding-top: 15vmin;
			width: 100vw;
		}

		#About{
			padding-top: 15vmin;
		}

			h3 {
				margin-top: 0;
				padding-top: 24px;
			}

		#Mission{
			background-color: #ffeb3b;
			width:100vw;
			position:relative;
			text-align: left;
			overflow:hidden;
		}

			#Mission h3{
				text-align: center;
			}

			.css-carousel {
				overflow: hidden;
				width:500vw;
				-webkit-animation: css-carousel 90s linear infinite;
				-moz-animation: css-carousel 90s linear infinite;
				-ms-animation: css-carousel 90s linear infinite;
				animation: css-carousel 90s linear infinite;
			}

			.css-carousel .css-img{
				display:inline-block;
				overflow: hidden;
				padding: 10vw;
				text-align: center;
				width:100vw;
			}
			.css-carousel img:not(:first-child){
				float:left;
			}
				.or-spacer {
					margin-left: 15vw;
					width: 50vw;
					position: relative;
				}
				.or-spacer .mask {
					overflow: hidden;
					height: 20px;
				}
				.or-spacer .mask:after {
					content: '';
					display: block;
					margin: -25px auto 0;
					width: 100%;
					height: 25px;
					border-radius: 125px / 12px;
					box-shadow: 0 0 8px black;
				}

			@-webkit-keyframes css-carousel {
				0%, 24% {margin-left:0}
				25%, 49% { margin-left:-100vw; }
				50%, 74% { margin-left:-200vw; }
				75%, 99% { margin-left:-300vw; }
				100% { margin-left:0;}
			}
			@-moz-keyframes css-carousel {
				0%, 24% {margin-left:0}
				25%, 49% { margin-left:-100vw; }
				50%, 74% { margin-left:-200vw; }
				75%, 99% { margin-left:-300vw; }
				100% { margin-left:0;}
			}
			@-ms-keyframes css-carousel {
				0%, 24% {margin-left:0}
				25%, 49% { margin-left:-100vw; }
				50%, 74% { margin-left:-200vw; }
				75%, 99% { margin-left:-300vw; }
				100% { margin-left:0;}
			}
			@keyframes css-carousel {
				0%, 24% {margin-left:0}
				25%, 49% { margin-left:-100vw; }
				50%, 74% { margin-left:-200vw; }
				75%, 99% { margin-left:-300vw; }
				100% { margin-left:0;}
			}
		
		#Faculty {
			background-color: #b2ff59;
		}

			#faculty-container {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
			}

				.faculty-card {
					background-color: #064C70;
					color: #fff;
					box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
					transition: 0.3s;
					border-radius: 5px;
					margin: 9px;
					width: 240px;
				}
					.faculty-card img {
						 border-radius: 5px 5px 0 0;
					}

					.faculty-card:hover {
						-webkit-box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.75);
						-moz-box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.75);
						box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.75);
					}

						.faculty-card .fa:hover {
							color: #fff;
						}

		#Contact {
			min-height: 50vh;
		}

			form{
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: left;
				margin-left: auto;
    			margin-right: auto;
				max-width: 420px;
			}

			#conversational-form{
				background-color: #fff;
				-webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.75);
				box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.75);
				max-width: 480px;
			}

			text {
				color: #000 !important;
				font-family: 'Raleway';
				font-size: 1.2vmax;
			}

			#Contact input {
				border: 1px solid #000;
				padding: 9px;
				margin-bottom: 12px;
			}

			#Contact textarea {
				border: 1px solid #000;
				padding: 9px;
				margin-bottom: 12px;
			}

			#Contact input:focus {
				color: #000;
			}

		footer {
			background-color: #f44336;
			-webkit-box-shadow: 9px 0px 9px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 9px 0px 9px 0px rgba(0,0,0,0.75);
			box-shadow: 9px 0px 9px 0px rgba(0,0,0,0.75);
			color: #000;
			text-align: center;
			width: 100vw;
		}

			iframe {
				margin: auto;
			}