@import url('https://fonts.googleapis.com/css?family=Lato:300|Raleway');

html{
    border: 0;
    padding: 0;
}

    body{
        background-color: #fff;
		font-family: 'Raleway';
    }

		#banner{
			align-items: center;
			align-content: center;
			background: #064C70;
			-webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.75);
			color: #fff;
			display: flex;
			flex-direction: row;
			font-family: 'Lato', sans-serif;
			justify-content: space-around;
			padding: 0;
			position: fixed;
			width: 100%;
			z-index: 100;
		}
                
                figure{
					width: 50vw;
					margin: 0;
                }

                    figure img{
                        border-radius: 100%; 
                        float: left;
                        max-height: 13vmin;
                        padding: 9px 4px 9px 4px;
                    }

                    figcaption{
						font-size: 1.6vmax;
						white-space: nowrap;
                    }

				.vertical {
					display: inline-block;
					margin-left: 10px;
					width: 10px;
					position: relative;
				}
				.vertical .mask {
					overflow: hidden;
					width: 20px;
					height: 13vmin;
				}
				.vertical .mask:after {
					content: '';
					display: block;
					margin-left: -20px;
					width: 20px;
					height: 100%;
					border-radius: 12px / 125px;
					box-shadow: 0 0 8px black;
				}

				nav{
					align-items: center;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-around;
					width: 50vw;
				}

                nav a{
                    align-self: center;
					color: #fff;
                    flex: 1 1 auto;
					font-size: 1.6vmax;
                }
				
				nav a:hover{
					color: #ffff00;
					font-size: 2vmax;
					text-decoration: none;
					text-shadow: 2px;
				}

		.content{
			min-height: 95vh;
		}

		#About{
			padding-top: 15vmin;
		}

		footer{
			background-color: #f44336;
			color: #000;
			text-align: center;
		}

			iframe{
				margin: auto;
			}