@import url('https://fonts.googleapis.com/css?family=Lato:300|Raleway');

html{
    border: 0;
    padding: 0;
}

    body{
        background-color: #fff;
		font-family: 'Raleway';
    }

        header{
            align-items: center;
            align-content: center;
            display: flex;
            flex-direction: column;
            height: 20vmin;
        }

            #banner{
                align-items: center;
                align-content: center;
                display: flex;
                flex-direction: column;
                font-family: 'Lato', sans-serif;
                height:10vmin;
                width: 100%;
            }
                
                figure{
                    font-size: 4vmin;
                }

                    figure img{
                        border-radius: 100%; 
                        float: left;
                        max-height: 15vmin;
                        padding: 9px 4px 9px 4px;
                    }

                    figcaption{
                        float: right;
                        padding-top: 2%;
                    }

            nav{
                align-items: center;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-left: 9%;
                padding-top: 25px;
				position: fixed;
                width: 100%;
            }

                nav a{
                    align-self: center;
                    flex: 1 1 auto;
                }
		
		.content{
			min-height: 95vh;
		}

		footer{
			background-color: #000;
			color: #fff;
			height: 280px;
			text-align: center;
		}

			form{
				text-align: left;
				line-height: 4vh;
			}

				input{
					width: 100%;
				}

			iframe{
				display: block;
				margin: auto;
			}